POEApi.Infrastructure/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
POEApi.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
POEApi.Transport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Procurement/Procurement.csproj.user
**/bin/Debug/
**/bin/Release/
**/obj/
Procurement_Medved_logo.png

*.suo