POEApi.Infrastructure/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
POEApi.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
POEApi.Transport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Procurement.suo
Procurement/obj/x86/Debug/App.g.i.cs
Procurement/obj/x86/Debug/Controls/CharacterSelector.g.i.cs
Procurement/obj/x86/Debug/Controls/Equipped.g.i.cs
Procurement/obj/x86/Debug/Controls/ForumExport.g.i.cs
Procurement/obj/x86/Debug/Controls/ForumTemplate.g.i.cs
Procurement/obj/x86/Debug/Controls/Inventory.g.i.cs
Procurement/obj/x86/Debug/Controls/ItemDisplay.g.i.cs
Procurement/obj/x86/Debug/Controls/ItemHover.g.i.cs
Procurement/obj/x86/Debug/Controls/ItemHoverHeader.g.i.cs
Procurement/obj/x86/Debug/Controls/ItemHoverImage.g.i.cs
Procurement/obj/x86/Debug/Controls/LeagueSelection.g.i.cs
Procurement/obj/x86/Debug/Controls/RecipeResults.g.i.cs
Procurement/obj/x86/Debug/Controls/SetBuyoutView.g.i.cs
Procurement/obj/x86/Debug/Controls/StashControl.g.i.cs
Procurement/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Procurement/obj/x86/Debug/GeneratedInternalTypeHelper.g.i.cs
Procurement/obj/x86/Debug/MainWindow.g.i.cs
Procurement/obj/x86/Debug/Procurement_MarkupCompile.i.cache
Procurement/obj/x86/Debug/Procurement_MarkupCompile.i.lref
Procurement/obj/x86/Debug/View/AboutView.g.i.cs
Procurement/obj/x86/Debug/View/Block.g.i.cs
Procurement/obj/x86/Debug/View/InventoryView.g.i.cs
Procurement/obj/x86/Debug/View/LoadingAnimation.g.i.cs
Procurement/obj/x86/Debug/View/LoginView.g.i.cs
Procurement/obj/x86/Debug/View/RecipeView.g.i.cs
Procurement/obj/x86/Debug/View/SettingsView.g.i.cs
Procurement/obj/x86/Debug/View/StashView.g.i.cs
Procurement/obj/x86/Debug/View/TradingView.g.i.cs
Procurement.v12.suo
Procurement/Procurement.csproj.user
