POEApi.Infrastructure/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
POEApi.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
POEApi.Transport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Procurement.suo
Procurement.v12.suo
Procurement/Procurement.csproj.user
**/bin/Debug/
**/bin/Release/
**/obj/